.workRoom {
  margin: 10rem;

  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45rem 35rem;
  justify-content: center;
  align-items: center;
  
 
}
.firstPlace {
    background-color: red;
    

  }

.secondPlace {
  background-color: blueviolet;
}

.thirdPlace {
  background-color: blue;
}

.fourthPlace {
  background-color: orange;
}

.fullWidth{
   width: "100%" 
}

.whitBack{
  background-color: white;
  text-align: center;
}