.workRoom {
  margin: 20rem;

  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45rem 35rem;

  
 
}
.firstPlace {
    background-color: red;
    

  }

.secondPlace {
  background-color: blueviolet;
}

.thirdPlace {
  background-color: blue;
}

.fourthPlace {
  background-color: orange;
}
