.tableOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left:10%;
  padding-right:10%
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  //justify-content: center;
  align-items: center;
  //justify-content: center;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(auto-fill, 120px);
}