.tableOne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  //justify-content: center;
  align-items: center;
  //justify-content: center;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(auto-fill, 120px);
}
.col-tab{
  width: 200px!important;
  background : yellow;
  height: fit-content,
}